@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #ed1d24;
  --primary-color-dark: #b80314;
  --white: #ffffff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

ul {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
}

.main{
    position: relative;
    isolation: isolate;
    min-height: 100vh;
    background-image: url(assets/header.png);
    background-size: cover;   
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #060604;
}

.main::before{
    position: absolute;
    content: "";
    inset: 0;
    opacity: 1;
    background-color: #060604;
    z-index: 999;
    animation: main-slider 2s ease-in-out forwards;
}

@keyframes main-slider {
    90%{
        opacity:0;
        transform: translateX(0);
    }
    100%{
        opacity: 0;
        transform: translateX(-100%);
    }
}

nav{
    position: fixed;
    isolation: isolate;
    width: 100%;
    z-index: 9;
}

.nav_header{
    padding: .75rem 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
}

.nav_logo a img{
    max-width: 75px;
}

.nav_menu_btn{
    color: var(--white);
    font-size: 1.2rem;
    cursor: pointer;
}

.nav_links {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  background-color: var(--primary-color);
  transition: transform 0.5s;
  z-index: -1;
}

.nav_links.open{
    transform: translateY(100%);
}

.nav_links a{
    color: var(--white);
    white-space: nowrap;
}