@media screen and (min-width: 201px) and (max-width: 575px) {
  header {
    flex-direction: column;
    align-items: stretch;
    padding: 10px;
    gap: 10px;
  }
  .logo {
    padding: 10px;
  }

  .headerleft {
    justify-content: center;
  }

  .headeraddress {
    padding: 10px;
  }

  .headeraddress h3 {
    font-size: 18px;
  }

  .headeraddress p {
    font-size: 13px;
  }

  .searchbox button{
    padding: 10px;
  }

  .headerbtn{
    position: fixed;
    bottom: 10px;
    width: 100%;
    margin-right: 0px;
    justify-content: center;
  }


}
