/* Basic CSS Boilerplate */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  height: 100%;
  width: 100%;
}

header {
  display: flex;
}

.headerleft {
  display: flex;
  align-items: center;
}

.logo {
  padding: 22px;
  border-right: 1px solid #ccc;
}

.headeraddress {
  padding: 20px ;
}

.headeraddress h3 {
  margin-bottom: 5px;
  font-size: 20px;
}

.headeraddress p{
  font-size: 15px;
}
