/* Basic CSS Boilerplate */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  height: 100%;
  width: 100%;
}

header {
  display: flex;
  border-top: 1px solid #ccc;
  align-items: center;
  border-bottom: 1px solid #ccc;
  gap: 40px;
}

.headerleft {
  display: flex;
  align-items: center;
}

.logo {
  padding: 24px 30px;
  border-right: 1px solid #ccc;
}

.headeraddress {
  padding: 20px;
}

.headeraddress h3 {
  margin-bottom: 5px;
  font-size: 18px;
}

.headeraddress p {
  font-size: 13px;
}

.searchbox {
  flex-grow: 1;
  display: flex;
  background-color: #f8f8f8;
  border: 1px solid #f0f0f0;
  border-radius: 15px;
}

.searchbox button {
  padding: 15px;
  background-color: transparent;
  border: none;
}
.searchbox input {
  flex-grow: 1;
  background-color: transparent;
  border: none;
}

.searchbox input:focus {
  outline: none;
}

button i {
  font-size: 15px;
}

.headerbtn {
  display: flex;
  gap: 30px; /* now it will work */
  margin-right: 35px;
}

.headerbtn button {
  font-size: 16px;
  padding: 15px;
  /* gap: 50px; */
  background-color: transparent;
  border: none;
}

.headerbtn button i {
  margin-right: 5px;
  font-size: 25px;
}

.headerbtn button:last-child {
  display: flex;
  align-items: center;
  background-color: #34af43;
  border-radius: 10px;
  font-weight: bold;
}

.banner {
  max-width: 1280px;
  margin: auto;
}

.banner img {
  width: 100%;
}

.orderBanner {
  max-width: 1280px;
  margin: auto;
  display: flex;
}

.orderBannerItems {
  flex-basis: 27%;
  margin: 1%;
}

.orderBannerItems img {
  width: 100%;
}

.categoriesSection {
  max-width: 1280px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.categories {
  flex-basis: 10%;

  /* margin: 1%; */
}

.categories img {
  width: 100%;
}

.productSection {
  max-width: 1250px;
  margin: auto;
}

.headingRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headingRow h2 {
  margin-bottom: 10px;
}

.productRow {
  width: 100%;
  margin: 10px 0px;
  display: flex;
  gap: 2%;
  flex-wrap: wrap;
}

.productItems {
  flex-basis: 15%;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 0px 0 10px 2px #ccc;
  margin-bottom: 20px;
}

.productImg {
  text-align: center;
}

.productImg p {
  display: flex;
  align-items: center;
  font-size: 12px;
  text-align: left;
}

.productContent {
  padding: 15px;
  padding-top: 0px;
}

.productContent h3 {
  margin-bottom: 15px;
  font-size: 15px;
}

.productContent p {
  font-family: 14px;
  color: #848080;
}

.btn-price-outer {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.btn-price-outer button {
  border: 1px solid #328839;
  padding: 5px 15px;
  border-radius: 10px;
  background-color: #f7fff9;
}
