/* Basic CSS Boilerplate */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  height: 100%;
  width: 100%;
}

header {
  display: flex;
  border-top: 1px solid #ccc;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.headerleft {
  display: flex;
  align-items: center;
}

.logo {
  padding: 24px 30px;
  border-right: 1px solid #ccc;
}

.headeraddress {
  padding: 20px;
}

.headeraddress h3 {
  margin-bottom: 5px;
  font-size: 20px;
}

.headeraddress p {
  font-size: 15px;
}

.searchbox {
  flex-grow: 1;
  display: flex;
  background-color: #f8f8f8;
  border: 1px solid #f0f0f0;
  border-radius: 15px;
}

.searchbox button {
  padding: 15px;
  background-color: transparent;
  border: none;
}
.searchbox input {
  flex-grow: 1;
  background-color: transparent;
  border: none;
}

.searchbox input:focus {
  outline: none;
}

button i {
  font-size: 15px;
}
