@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Basic CSS Boilerplate */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  background: var(--bg-color);
}

:root {
  --text-color: #342b0c;
  --bg-color: #fefbeb;
  --inner-bg-color: #ede8d5;
  --btn-color: #f3c30e;
}

/* basic styling */
li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  object-fit: cover;
}

.flex {
  display: flex;
  align-items: center;
}

.container {
  max-width: 85%;
  margin: auto;
}

.sections {
  padding-block: 3rem;
}

/* navbar styling here */

.navbar {
  justify-content: space-between;
  height: 17vh;
}

.navlist {
  gap: 3rem;
}

.link {
  color: var(--text-color);
  font-size: 0.95rem;
}

.logo {
  font-size: 1.3rem;
  color: var(--text-color);
  text-transform: uppercase;
  font-weight: 600;
}

.fa-ice-cream {
  font-size: 1.8rem;
}

.icons {
  background: var(--btn-color);
  color: var(--text-color);
  font-size: 1.2rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  border: 0.1rem solid var(--btn-color);
  transition: 0.5s ease-in-out;
}

.nav-icons {
  justify-content: center;
  gap: 1rem;
}

.icons:hover {
  background: transparent;
}

.hero {
  min-height: 120vh;
  background-image: url(imgs/almonds.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 57%;
  padding-top: 4rem;
  position: relative;
}

.inner-hero {
  background: var(--inner-bg-color);
  width: 100%;
  border-radius: 3rem;
  justify-content: center;
  padding: 3rem 5rem;
  position: relative;
  isolation: isolate;
}

.hero h1 {
  font-size: 13vw;
  letter-spacing: 1rem;
  text-transform: uppercase;
  color: var(--text-color);
  font-family: "Bebas Neue", serif;
}

.hero-center-image {
  position: absolute;
  left: 44%;
  transform: translateX(-50%);
  top: 29%;
  rotate: 30deg;
  width: 25vw;
  z-index: 2;
}

.hero-left-image,
.hero-right-image {
  position: absolute;
  width: 12vw;
  top: 0;
}

.hero-right-image {
  right: 0;
  z-index: -1;
}

.hero-left-image {
  left: 0;
}

h2 {
  font-size: 5vw;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  color: var(--text-color);
  font-family: "Bebas Neue", serif;
  /* padding: 2rem 0 ; */
}

.card-container {
  gap: 4rem;
  height: 80vh;
  align-items: flex-end;
  /* background-color: red; */
}

.card {
  flex: 1;
  background: var(--inner-bg-color);
  padding: 12rem 2.5rem 2.5rem;
  border-radius: 1.5rem;
  position: relative;
}

.card-image {
  width: 20rem;
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translateX(-50%);
}

.card .content {
  justify-content: space-between;
}

span {
  font-weight: bold;
  color: var(--text-color);
}


.production{
  background: var(--text-color);
  text-align: center;
  color: var(--bg-color);
  padding-block: 8rem;
  border-radius: 1.5rem;
  position: relative;
}

.btn{
  background: var(--btn-color);
  padding: 1rem 2.5rem;
  color: var(--text-color);
  font-size: 1.1rem;
  border: .1rem solid var(--btn-color);
  border-radius: 100vw;
 
}

.production h2{
  color: var(--bg-color);
}

.production p{
  padding-bottom: 2rem;
}

.light-para{
  text-align: center;
  font-size: 1.1rem;
  color: var(--bg-color);
}

.production-right-image{
  position: absolute;
  width: 28rem;
  bottom: 0;
  right: 2%;
}

.production-left-image{
  position: absolute;
  width: 30rem;
  bottom: 0;
  left: -2%;
  z-index: 3;
}

.healthy-section{
  background: var(--inner-bg-color);
  padding-top: 5rem;  
}

.milky-image img{
  display: block;
}

.healthy-section .content img{
  width: 15rem;
  display: block;
  float: right;
}

.healthy-section .container{
  align-items: flex-end;
}

.dark-para{
  margin:0  0 2rem 0;
  
}

.commitment{
  text-align: center;
  background-image: url(imgs/leaves.png);
  background-repeat: no-repeat;
  /* background-size: cover; */
  /* background-position: center; */
}

.commitment .container img{
  width: 29rem;
}

.commitment .container p{
  max-width: 650px;
  margin: auto;
}

.btn-2{
  margin-top: 2rem;
}

footer{
  background: var(--text-color);
  text-align: center;
  padding-block: 3rem;
  margin-top: 3rem;
}