/* Mobile devices: 200px to 575px */
@media (min-width: 200px) and (max-width: 575px) {
.main p{
    color: yellow;
}

.banners{
    flex-direction: column;
}

}

/* Tablet devices: 576px to 991px */
@media (min-width: 576px) and (max-width: 991px) {
.main p{
    color: blue;
}

.banneritem{
    flex-basis: 48%;
}

}
