body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #2b5876, #4e4376);
    font-family: Arial;
}

.calculator {
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    width: 300px;
}

#display {
    width: 100%;
    height: 60px;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: right;
    padding: 10px;
    font-size: 28px;
    background: rgba(255, 255, 255, 0.4);
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

button {
    padding: 18px;
    border: none;
    border-radius: 12px;
    font-size: 20px;
    background: rgba(255, 255, 255, 0.3);
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: rgba(255, 255, 255, 0.6);
}

.equal {
    grid-column: span 2;
    background: #29c74f;
    color: white;
}

.zero {
    grid-column: span 2;
}
