:root {
    --primary-color: #8263a3;
    --text-dark: #232637;
    --white: #fff;
    --max-width: 1200px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.btn {
    position: absolute;
    padding: 1rem 2rem;
    outline: none;
    border: none;
    font-weight: 600;
    cursor: pointer;
    /* z-index: 10; */
}


a {
    text-decoration: none;
    transition: .3s;
}

body {
    font-family: sans-serif;
    background-color: #00ff42;
}

body::after {
    position: fixed;
    content: "";
    height: 100%;
    width: 0;
    top: 0;
    right: 0;
    background-color: var(--text-dark);
    z-index: -1;
    animation: body-bg 1s ease-in-out forwards;
}

@keyframes body-bg {
    0% {
        width: 0vw;
    }

    100% {
        width: 50vw;
    }
}


body::before {
    position: fixed;
    content: "0";
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    font-size: 70rem;
    font-weight: 200;
    color: var(--white);
    opacity: .5;
    z-index: -1;
}

.container {
    position: relative;
    isolation: isolate;
    min-height: 100vh;
    max-width: var(--max-width);
    overflow: hidden;
    margin-inline: auto;
}

nav {
    padding-block: 2rem 0;
    padding-inline: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}


.nav_links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav_links a {
    font-weight: 500;
}

.nav_links .logo {
    font-size: 2rem;
    font-weight: bolder;
}

.nav_left a {
    color: var(--text-dark);
    font-size: 1.5rem;
    font-weight: 400;
}


.nav_right a {
    color: var(--white);
}

.nav_links a:hover {
    color: var(--primary-color);
}

.letter-s {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40rem;
    font-weight: 40rem;
    color: var(--primary-color);
}

.container img {
    position: absolute;
    width: 100%;
    max-width: 267px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(0 0 50px rgba(0, 0, 0, 0.245));
}

.container h4 {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 5rem;
    color: white;
    letter-spacing: 25px;
}

.text_left {
    transform: translate(calc(-50% - 250px), -50%);
}


.text_right {
    transform: translate(calc(-50% + 255px), -50%);
}

.container .explore {
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(390% + 50px));
    color: var(--text-dark);
    background-color: white;
    box-shadow: 0 0 50 rgba(0, 0, 0, 0.245);
}

.container .print {
    top: 50%;
    right: 0;
    transform: translate(0, -50%)rotate(90deg);
    color: var(--white);
    background-color: transparent;
    padding: calc(1rem - 4px) calc(2rem - 4px);
    border: solid 1px var(--white);
}

.container .catalog {
    top: 25%;
    left: 0%;
    transform: translate(0, -50%) rotate(-90deg);
    padding: calc(1rem - 4px) calc(2rem - 4px);
    color: var(--text-dark);
    background-color: transparent;
    border: 1px solid var(--text-dark);
}


.container h5 {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1.2rem;
    font-weight: 500;
}

.container h5::after {
    position: absolute;
    content: "";
    height: 1px;
    width: 100px;
    top: 50%;
}

.feature-1 {
    color: var(--text-dark);
    transform: translate(calc(-50% - 300px), calc(-50% - 200px));
}

.feature-2 {
    color: var(--text-dark);
    transform: translate(calc(-50% + 300px), calc(-50% - 200px));
}

.feature-3 {
    color: var(--text-dark);
    transform: translate(calc(-50% - 300px), calc(-50% + 200px));
}

.feature-4 {
    color: var(--text-dark);
    transform: translate(calc(-50% + 300px), calc(-50% + 200px));
}

.feature-1::after,
.feature-3::after {
    right: 0;
    transform: translate(calc(100% + 5px), -50%);
    background-color: var(--text-dark);
}


.feature-2::after,
.feature-4::after {
    left: 0;
    transform: translate(calc(-100% - 5px), -50%);
    background-color: var(--white);
}


.footer {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding-inline: 1rem;
    bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.footer_links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    gap: 2rem;
}

.footer p{
    font-size: 0.9rem;
    color: var(--text-dark);
}

.footer_links li{
    opacity: 0;
    animation: fade-in .3s ease-in-out forwards;
}

.footer_links li:nth-child(1){
    animation-delay: 6s;
}

.footer_links li:nth-child(2){
    animation-delay: 6.5s;
}

.footer_links li:nth-child(3){
    animation-delay: 7s;
}

@keyframes fade-in {
        0%{
            opacity: 0;
        }
        100%{
            opacity: 100%;
        }
}

.footer_links a {
    color: #fff;
}

.footer_links a:hover{
    color: var(--primary-color);
}